{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
          
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <section id="navbar" class="flex flex-row items-center p-6 h-16 bg-teal-500 text-white">
        <div class="flex space-x-5 text-2xl pb-2">
            <div><a href="/">Home 🏠</a></div>
            <div><a href="/posts">Posts 📜</a></div>
            <div><a href="/about">About 👦</a></div>
            <!-- <div>BLOG</div> -->
        </div>
    </section>
    <section id="blog" class="h-screen bg-black">
        {% block content %}
          
        {% endblock content %}
    </section>
</body>
</html>